@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model WashOverflowV2.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center mb-5">
        <h1 class="text-center">Welcome, @User.Identity.Name!</h1>
        <form method="post" class="mt-4">
            <button class="btn btn-primary" type="submit" asp-page-handler="BookPage">Book a wash </button>
        </form>
    </div>
}
else
{
    <div class="text-center mb-5">
        <h1>Welcome</h1>
        <h3>Please login to use our services</h3>
        <div class="d-flex justify-content-center gap-3 mt-4">
            <a href="~/Identity/Account/Login" class="btn btn-primary">Login</a>
            <a href="~/Identity/Account/Register" class="btn btn-secondary">Register</a>
        </div>
    </div>
}

<div class="my-3 mx-3">
    <h2>Filtrera stationer efter paket</h2>
    <!-- Dropdown-lista för att välja paket -->
    <form method="get" class="d-flex align-items-center gap-3">
        <label class="form-label mb-0" for="packageSelect">Välj paket:</label>
        <select class="form-select w-auto" name="SelectedPackageId" asp-for="SelectedPackageId" onchange="this.form.submit()">
            <option value="">Alla paket</option>
            @foreach (var package in Model.Packages)
            {
                <option value="@package.Id">@package.Name</option>
            }
        </select>
    </form>
</div>

<div class="container">
    <div class="row">
        @foreach (var station in Model.Stations)
        {
            <div class="col-md-4">
                <div class="card shadow-lg mb-4">
                    <img src="@Url.Content($"~/images/{station.Id}.jpg")"
                         class="card-img-top w-100"
                         alt="@station.Name"
                         style="height: 120px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title">@station.Name</h5>
                        <p class="card-text">@station.Address</p>
                        <a href="@Url.Page("/DetailsCarwash", new { id = station.Id })" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
